<body>
    <form method="POST">
        <label for="num_questions_clo1">Số lượng câu hỏi cho CLO 1:</label>
        <input type="number" id="num_questions_clo1" name="num_questions_clo1" required>
        
        <label for="CLO.1">Category</label>
        <input type="text" id="CLO.1" name="CLO.1" required>
    
        <label for="num_questions_clo2">Số lượng câu hỏi cho CLO 2:</label>
        <input type="number" id="num_questions_clo2" name="num_questions_clo2" required>
    
        <label for="CLO.2">Category</label>
        <input type="text" id="CLO.2" name="CLO.2" required>
    
        <button type="submit">Tạo bài thi</button>
    </form>
</body>